{% extends "layout.html" %} {% block content %}
<h1>Welcome</h1>
<p>
  SportPerformanceTracker is a web app designed to explore the impact of
  menstrual cycles on athletic performance through daily surveys, enabling
  female athletes to log their physical and emotional state while providing
  users and the administrators with a comprehensive data dashboard for in-depth
  analysis and performance correlation. This is a small scale "proof of concept"
  -type version. Making the addition of new survey dimensions straightforward is
  key for enhanced future research and insights.
</p>
{% endblock %}
