{% extends "layout.html" %} {% block content %}
<title>Poll</title>
<h1>Poll</h1>
<p>Input your daily insights on mood, diet, sleep, and performance</p>
<hr />
<div class="poll">
  <form action="/result" method="POST">
    {% for question in questions %} {% if question.question_type == "radio" %}
    <p>{{ question.question_text }}</p>
    <div>
      <span>{{ question.radio_low }}</span>
      {% for i in range(question.radio_scale) %}
      <label>
        <input
          type="radio"
          name="{{ question.question_id }}"
          value="{{ i + 1 }}"
          required
        />{{ i + 1 }}
      </label>
      {% endfor %}
      <span>{{ question.radio_high }}</span>
    </div>
    {% endif %} {% endfor %}
    <input type="submit" value="Submit" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>
</div>
{% endblock %}
