{% extends "layout.html" %} {% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
<h1>testisivu</h1>
<div>
  <canvas id="myChart" height="90"></canvas>
</div>
<script>
  console.log({{ chart_data|safe }})

  new Chart("myChart", {
    type: "line",
    data: {
      datasets: [
        {
          label: "Testidata",
          data: {{ chart_data|safe }},
          borderColor: "rgb(0, 0, 255)",
          backgroundColor: "rgba(0, 0, 255, 0.5)",
        },
      ],
    },
    options: {
      parsing: {
        xAxisKey: "date",
        yAxisKey: "value",
      },
      scales: {
        y: {
          ticks: {
            stepSize: 1,
          },
        },
        x: {
          type: "time",
          time: {
            parser: "YYYY-MM-DD",
            unit: "day",
            tooltipFormat: "MMM DD",
          },
        },
      },
    },
  });
</script>
{% endblock %}
