<h1>TESTISIVU</h1>
    <!-- <table>
        <thead>
            <tr>
                <th>Labels</th>
                <th>Values</th>
            </tr>
        </thead>
        <tbody>
            {% for data in user_data %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->

    <div>
        <canvas id="myChart"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById("myChart");
        

        new Chart(ctx, {
          type: "bar",
          data: {
            labels: {{ labels|tojson|safe }},
            datasets: [
              {
                label: "# of Votes",
                data: {{ values|tojson|safe }},
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                suggestedMax: 4,
                stepSize: 1
              },
            },
          },
        });
      </script>


    <a href="/">Back</a>
</body>
</html>
