{% extends "layout.html" %} {% block content %}
<h1>User Data</h1>
<form action="/user_data" method="POST">

  <p>Select a question ID:</p>
  <select name="question_id">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <input type="submit" value="Submit" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
<hr />
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById("myChart");
  

  new Chart(ctx, {
    type: "line",
    data: {
      labels: {{ labels|safe }},
      datasets: [
        {
          label: "Motivation",
          data: {{ values|safe }},
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          suggestedMax: 4,
          stepSize: 1
        },
      },
    },
  });
</script>


<a href="/">Back</a>
</body>
</html>
{% endblock %}