{% extends "layout.html" %} {% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>

<h1>User Data</h1>
<p>Choose a question to see the results</p>
<form action="/user_data" method="POST">
  <select name="question_id">
  {% for question in questions %}
    <option value="{{ question.question_id }}">{{ question.question_title }}</option>
  {% endfor %}
  </select>
  <input type="submit" value="Show" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
<hr />
  
{% if chart_data %}
<h2>{{ title }}</h2>
<div>
  <canvas id="myChart"></canvas>
</div>

<script>
  const ctx = document.getElementById("myChart");

  new Chart(ctx, {
    type: "line",
    data: {
      datasets: [
        {
          label: "{{ title }}",
          data: {{ chart_data|safe }},
          borderWidth: 1,
          borderColor: "rgb(0, 0, 255)",
          backgroundColor: "rgba(0, 0, 255, 0.5)",
        },
        {
          type: "scatter",
          label: "Day 1 of cycle",
          data: {{ menstrual_data|safe }},
          borderWidth: 1,
          borderColor: "rgb(255, 0, 0)",
          backgroundColor: "rgba(255, 0, 0, 0.5)",
          pointRadius: 10
        }
      ],
    },
    options: {
      parsing: {
        xAxisKey: "date",
        yAxisKey: "value",
      },
      tension: 0.4,
      scales: {
        y: {
          suggestedMax: {{radio_scale|safe}},
          suggestedMin: 1,
          ticks: {
            stepSize: 1,
            precision: 0
          },
        },
        x: {
          type: "time",
          time: {
            parser: "YYYY-MM-DD",
            unit: "day",
            tooltipFormat: "MMM DD",
          },
        },
      },
    },
  });
</script>

{% endif %}

<a href="/">Back</a>
</body>
</html>
{% endblock %}